
body {
    margin: 0;
    padding: 0;
}
main {
    margin: 20px;
    padding: 20px;
    min-height: 530px;
    background-color: #eee;
    border: 1px solid #999;
}
img {
    width: 80px;
    height: 80px;
    border: 1px solid #999;
}
div {
    background-color: #fff;
}
.team-info {
    float: left;
    padding: 20px;
    width: 160px;
    border: 1px solid #999;
}
.team-intro {
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999;
}
.team-member {
    float: right;
    padding: 20px;
    width: 80px;
    border: 1px solid #999;
}
.team-member img {
    margin-bottom: 15px;
}
.team-member img:last-child {
    margin-bottom: 0;
}
/* 以上为float实现方法 */


/* 以下为position实现方法 */
.implement2 {
    position: relative;
}
.team-info2 {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    width: 160px;
    border: 1px solid #999;
}
.team-intro2 {
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999;
}
.team-member2 {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    width: 80px;
    border: 1px solid #999;
}
.team-member2 img {
    margin-bottom: 15px;
}
.team-member2 img:last-child {
    margin-bottom: 0;
}