body,
li {
    padding: 0;
    margin: 0;
    font-family: "Arial", "Microsoft YaHei UI", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body > header,
body > footer {
    width: 100%;
    height: 60px;
    background-color: #333;
}

/* 导航栏 */
header img {
    position: relative;
    top: 8px;
    left: 25px;
    width: 140px;
    height: 44px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav li {
    float: right;
    padding-right: 20px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8em;
}

/* 文章 */
body {
    background-color: #dedede;
    min-width: 800px;
}
article,
section
{
    overflow: hidden;
    margin: 20px 430px 20px 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #999;
}
article:last-child {
    clear: both;
}
article header {
    font-size: 0.8em;
    color: #6f6969;
}
h1 {
    font-size: 2em;
    color: #000;
}
h2 {
    font-size: 1.6em;
}
article p {
    text-indent: 2em;
}
article img {
    width: 300px;
    height: 200px;
}
ul {
    list-style-type: none;
}

/* 图片部分 */
figure {
    display: inline-block;
    padding: 15px;
    padding-top: 0;
    margin: 10px;
    border: 1px solid #ccc;
}
figure img {
    width: 100px;
    height: 60px;
}
figcaption {
    padding: 10px;
    text-align: center;
}

/* 文章中的表格 */
table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
    font-size: 0.8em;
}
thead {
    background-color: #333;
    color: #fff;
}
td,
th
{
    padding: 5px;
    border: 1px solid #ccc;
}
tfoot {
    background-color: #ccc;
}

/* 表单 */
aside {
    float: right;
    margin: 0 20px;
    background-color: #fff;
    width: 350px;
    padding: 20px;
    box-shadow: 3px 3px 3px #999;
}
aside h2 {
    font-size: 1em;
    padding: 10px;
    border-left: 3px solid #ccc;
    font-weight: bold;
}

/* 表单使用百分比定位是为了响应式设计，虽然在屏幕宽度极小时还不完善 */
form {
    font-size: 0.8em;
}
form > label,
p > label:first-child
{
    display: inline-block;
    width: 150px;
    margin: 10px 0;
    text-align: right;
}
form > span {
    display: block;
    padding-left: 3px;
    margin-left: 150px;
    margin-top: 0;
    font-size: 0.8em;
}
form > input {
    padding: 3px;
}
textarea {
    position: relative;
    top: 10px;
    margin-bottom: 20px;
    vertical-align: top;
}
button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1em;
    background-color: #3355d0;
}

/* 底部版权信息 */
body > footer {
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    background-color: #000;
}