form {
    margin: 100px;
}
label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
}
input {
    width: 200px;
    height: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
button {
    margin-top: 20px;
    width: 70px;
    height: 35px;
    font-size: 1.1em;
    color: #fff;
    background-color: #507aff;
}
.hint {
    display: none;
    position: relative;
    left: 115px;
    margin: 5px 0 20px 0;
}